<!DOCTYPE html>
<html>
    <head>
        <title>My Page</title>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>
    <body>
        <div>
            <label for="age">Age:</label>
            <input type="number" id="age" name="age"  value="56">
        </div>
        <div>
            <label for="cost">Blood:</label>
            <input type="number" id="blood" name="blood" value="20.6992188">
        </div>
        <div>
            <label for="reflex">Reflex:</label>
            <input type="number" id="reflex" name="reflex"  value="11.22800507">
        </div>
        <div>
            <label for="bloodchem1">Bloodchem1:</label>
            <input type="number" id="bloodchem1" name="bloodchem1" value="20.6992188">
        </div>
        <div>
            <label for="bloodchem2">Bloodchem2:</label>
            <input type="number" id="bloodchem2" name="bloodchem2" value="2.199707">
        </div>
        <div>
            <label for="psych1">Psych1:</label>
            <input type="number" id="psych1" name="psych1" value="4.0">
        </div>
        <div>
            <label for="glucose">Glucose:</label>
            <input type="number" id="glucose" name="glucose"  value="157.0">
        </div>

        <!--['age', 'blood', 'reflex', 'bloodchem1', 'bloodchem2', 'psych1', 'glucose']-->
    
        <!-- Add more input elements for other features -->
    
        
        
        <button onclick="fetchData()">Submit</button>
        <div id="output"></div>
        <script>
            const fetchData = async () => {
                try {
                    console.log("Hello")
                    const age = document.getElementById("age").value;
                    const blood = document.getElementById("blood").value;
                    const reflex = document.getElementById("reflex").value;
                    const bloodchem1 = document.getElementById("bloodchem1").value;
                    const bloodchem2 = document.getElementById("bloodchem2").value;
                    const psych1 = document.getElementById("psych1").value;
                    const glucose = document.getElementById("glucose").value;

                    
                    // Get values for other features similarly
                    
                    const response = await fetch('http://127.0.0.1:5555/death_probability', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({
  "timeknown": 4.0,
  "cost": 3008.38867,
  "reflex": 11.22800507,
  "sex": "male",
  "blood": 20.6992188,
  "bloodchem1": 2.199707,
  "bloodchem2": 1.29980469,
  "temperature": 35.59375,
  "race": "white",
  "heart": 103.0,
  "psych1": 4.0,
  "glucose": 157.0,
  "psych2": 2.0,
  "dose": 5,
  "psych3": 0.0,
  "bp": 107.0,
  "bloodchem3": 0.39996338,
  "confidence": 4.403556626,
  "bloodchem4": 12.0,
  "comorbidity": 6.0,
  "totalcost": 2471.7988,
  "breathing": 34.0,
  "age": 76.56396,
  "sleep": 7.519531,
  "dnr": "dnr before sadm",
  "bloodchem5": 7.359375,
  "pdeath": null,
  "meals": 142.0,
  "pain": 2.0,
  "primary": "Cirrhosis",
  "psych4": null,
  "disability": "<2 mo. follow-up",
  "administratorcost": 3525.0,
  "urine": 5360.0,
  "diabetes": 0.0,
  "income": "$11-$25k",
  "extraprimary": "COPD/CHF/Cirrhosis",
  "bloodchem6": 167.5,
  "education": 20.0,
  "psych5": 30.0,
  "psych6": 2.0,
  "information": 0.0,
  "cancer": "no",
  "death": 1.0
}),
                    });
                    
                    const data = await response.json();
                    document.getElementById("output").innerHTML = data.probability;
                } catch (error) {
                    console.log(error);
                }
            };
        </script>
    </body>
</html>