<!DOCTYPE html>
<html>
    <head>
        <title>My Page</title>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    </head>
    <body>
        <div>
            <label for="age">Age:</label>
            <input type="number" id="age" name="age"  value="56">
        </div>
        <div>
            <label for="cost">Blood:</label>
            <input type="number" id="blood" name="blood" value="20.6992188">
        </div>
        <div>
            <label for="reflex">Reflex:</label>
            <input type="number" id="reflex" name="reflex"  value="11.22800507">
        </div>
        <div>
            <label for="bloodchem1">Bloodchem1:</label>
            <input type="number" id="bloodchem1" name="bloodchem1" value="20.6992188">
        </div>
        <div>
            <label for="bloodchem2">Bloodchem2:</label>
            <input type="number" id="bloodchem2" name="bloodchem2" value="2.199707">
        </div>
        <div>
            <label for="psych1">Psych1:</label>
            <input type="number" id="psych1" name="psych1" value="4.0">
        </div>
        <div>
            <label for="glucose">Glucose:</label>
            <input type="number" id="glucose" name="glucose"  value="157.0">
        </div>

        <!--['age', 'blood', 'reflex', 'bloodchem1', 'bloodchem2', 'psych1', 'glucose']-->
    
        <!-- Add more input elements for other features -->
    
        
        
        <button onclick="fetchData()">Submit</button>
        <div id="output"></div>
        <script>
            const fetchData = async () => {
                try {
                    console.log("Hello")
                    const age = document.getElementById("age").value;
                    const blood = document.getElementById("blood").value;
                    const reflex = document.getElementById("reflex").value;
                    const bloodchem1 = document.getElementById("bloodchem1").value;
                    const bloodchem2 = document.getElementById("bloodchem2").value;
                    const psych1 = document.getElementById("psych1").value;
                    const glucose = document.getElementById("glucose").value;

                    
                    // Get values for other features similarly
                    
                    const response = await fetch('http://127.0.0.1:5555/death_probability', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json',
                        },
                        body: JSON.stringify({
                            "age": parseFloat(age),
                            "blood": parseFloat(blood),
                            "reflex": parseFloat(reflex),
                            "bloodchem1": parseFloat(bloodchem1),
                            "bloodchem2": parseFloat(bloodchem2),
                            "psych1": parseFloat(psych1),
                            "glucose": parseFloat(glucose),

                            // Include other features with their respective values
                        }),
                    });
                    
                    const data = await response.json();
                    document.getElementById("output").innerHTML = data.probability;
                } catch (error) {
                    console.log(error);
                }
            };
        </script>
    </body>
</html>